apps/frontend/node_modules
infra/environments/dev/.terraform
infra/environments/dev/*.zip
infra/environments/dev/terraform.tfstate
infra/environments/dev/terraform.tfstate.backup
terraform.tfvars